<h1>Tasty Brews</h1>
<div ng-app="app">
  <div ng-controller="brewsCtrl" ng-init="setup()">
    Search: <input ng-model="nameFilter">
    <table border="1">
      <tr>
        <th ng-click="changeOrderAttribute('name')">Name {{ getSortIcon('name') }}</th>
        <th ng-click="changeOrderAttribute('style')">Style {{ getSortIcon('style') }}</th>
      </tr>
      <tr ng-repeat="brew in brews | filter: {name: nameFilter} | orderBy:orderAttribute:isOrderDescending">
        <td>{{ brew.name }}</td>
        <td>{{ brew.style }}</td>
      </tr>
    </table>
    <h4>Total number of brews: {{ brews.length }}</h4>
    <h4>Add Brew</h4>
    <ul>
      <li ng-repeat="error in errors">{{ error }}</li>
    </ul>
    <div>
      <label>Name: </label>
      <input ng-model="newBrewName">
      <label>Style: </label>
      <input ng-model="newBrewStyle">
      <button ng-click="addBrew(newBrewName, newBrewStyle)">Add Brew</button>
    </div>
  </div>
</div>